/* status-item.component.css */
.status-item {
    margin-bottom: 15px;
    border: 1px solid #ccc;
    padding: 10px;
    border-radius: 8px;
    background-color: #f9f9f9;
  }
  
  .status-item-header {
    font-size: 18px;  /* Maior para destacar o título */
    font-weight: bold;  /* Negrito para o título */
    margin-bottom: 10px;  /* Distância entre o título e o restante */
  }
  
  .status-item-body {
    display: flex;
    flex-direction: column;  /* Flexbox para organizar o layout em coluna */
  }
  
  .input-group {
    margin-bottom: 10px; /* Espaço entre os campos */
  }
  
  .input-group label {
    display: block;
    margin-bottom: 5px;
  }
  
  .form-control {
    width: 100%;
    padding: 8px;
    border-radius: 4px;
    border: 1px solid #ddd;
  }
  
  .status-item-body .input-group {
    display: flex;
    align-items: center;
  }
  
  .status-item-body .input-group select,
  .status-item-body .input-group input {
    flex: 1; /* Garante que os elementos de input e select ocupem o espaço disponível */
    margin-left: 10px; /* Espaço entre o label e o campo */
  }
  
  .status-flag {
    margin-top: 10px;
    font-style: italic;
    color: #888;
  }
  