<!-- status-item.component.html -->
<div class="status-item">
  <div class="status-item-header">
    <label for="valor-{{ item.descricao }}">{{ item.descricao }}</label>
  </div>

  <div class="status-item-body">
    <div class="input-group">
      <label for="valor-{{ item.descricao }}">Valor:</label>
      <input 
        id="valor-{{ item.descricao }}" 
        type="text" 
        [(ngModel)]="item.valor"
        placeholder="Digite o valor" 
        class="form-control" 
      />
    </div>

    <div class="input-group">
      <label for="status-{{ item.descricao }}">Selecione o Status:</label>
      <select [(ngModel)]="item.flagStatus" id="status-{{ item.descricao }}" class="form-control">
        <option *ngFor="let status of flagStatusList" [value]="status.value">
          {{ status.descricao }}
        </option>
      </select>
    </div>
  </div>
</div>
