<div class="status-list">
  <div *ngFor="let item of items" class="status-item">
    <div class="status-icone">
      <span class="material-symbols-outlined">
        {{ item.icone }}
      </span>
    </div>
    <div class="status-descricao">
      <strong>{{ item.descricao }}</strong>
      <span class="status-flag" [ngStyle]="{ 'background-color': flagStatusDetails[item.flagStatus]?.color }">
        {{ flagStatusDetails[item.flagStatus]?.descricao }}
      </span>
    </div>
    <div class="status-valor">
      {{ item.valor }}  {{item.valorDesc}} 
    </div>
  </div>
</div>