<div class="form-container">
    <h2>Informações do Paciente</h2>

    <form>
        <mat-form-field appearance="fill">
            <mat-label>Nome</mat-label>
            <input matInput type="text" id="pacienteNome" [(ngModel)]="data.pacienteNome" name="pacienteNome"
                required />
        </mat-form-field>

        <div class="status-items-container">
            <div *ngFor="let item of statusItems" class="status-item">                 
              <avaliacao-item [item]="item" [flagStatusList]="flagStatusList"></avaliacao-item>
            </div>
          </div>        
    </form>

    <!-- Botão para gerar o PDF -->
    <button (click)="gerarPdf()">Gerar Relatório em PDF</button>
</div>

<div #relatorioContent class="relatorio-container">
    <!-- Logo centralizada -->
    <img src="assets/logo.png" alt="Logo" class="logo" />

    <!-- Título com bordas superior e inferior e fundo verde -->
    <div class="titulo-relatorio">
        Relatório de Composição Corporal
    </div>

    <!-- Nome do paciente e data da geração, lado a lado com borda inferior -->
    <div class="info-container">
        <div class="info-item">
            <h3 class="titulo">Paciente</h3>
            <p class="subtitulo">{{ data.pacienteNome }}</p>
        </div>
        <div class="info-item">
            <h3 class="titulo">Data de Geração</h3>
            <p class="subtitulo">{{ data.dataGeracao | date:'dd/MM/yyyy' }}</p>
        </div>
    </div>

    <div class="relatorio-conteudo">
        <!-- Div separando o gráfico e as informações -->
        <div class="grafico-info-container">
            <div class="grafico-centralizado">
                <apx-chart [series]="chartOptions.series" [chart]="chartOptions.chart" [labels]="chartOptions.labels"
                    [responsive]="chartOptions.responsive" [plotOptions]="chartOptions.plotOptions"
                    [legend]="chartOptions.legend" [colors]="chartOptions.colors"
                    [dataLabels]="chartOptions.dataLabels">
                </apx-chart>
            </div>
        </div>

        <!-- Lista de status (elementos adicionais) -->
        <status-list [items]="statusItems"></status-list>

        <p class="aviso"> Todos os dados foram coletados por intermédio da avaliação física,
            empregando-se as técnicas de adipometria e bioimpedância.
        </p>
    </div>
</div>